In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("TeluguMovies_dataset.csv")
ratings = pd.read_csv("user_movie_ratings.csv")

In [3]:
data.head()

,movieid,Movie,Year,Certificate,Genre,Overview,Runtime,Rating,No.of.Ratings
0,1224,Bhakta Prahlada,1932,U,"Drama, Fantasy",Bhakta Prahlada is the first full length T...,108,7.1,66
1,437,Pathala Bhairavi,1951,U,"Action, Adventure, Family","A poor man, in love with a princess, is pe...",192,8.5,592
2,878,Malliswari,1951,U,"Drama, History, Musical",Nagaraju and Malliswari want to get marrie...,194,7.0,144
3,991,Kanchana,1952,U,Drama,NaN,165,7.0,106
4,732,Devadasu,1953,U,"Drama, Family, Musical","Adapted from a popular Bengali novel, Deva...",191,7.4,235

In [4]:
data['Certificate'].fillna("Not Rated",inplace=True)

C:\Users\jupally mukesh\AppData\Local\Temp\ipykernel_1400\3643265586.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Certificate'].fillna("Not Rated",inplace=True)

In [5]:
data

,movieid,Movie,Year,Certificate,Genre,Overview,Runtime,Rating,No.of.Ratings
0,1224,Bhakta Prahlada,1932,U,"Drama, Fantasy",Bhakta Prahlada is the first full length T...,108,7.1,66
1,437,Pathala Bhairavi,1951,U,"Action, Adventure, Family","A poor man, in love with a princess, is pe...",192,8.5,592
2,878,Malliswari,1951,U,"Drama, History, Musical",Nagaraju and Malliswari want to get marrie...,194,7.0,144
3,991,Kanchana,1952,U,Drama,NaN,165,7.0,106
4,732,Devadasu,1953,U,"Drama, Family, Musical","Adapted from a popular Bengali novel, Deva...",191,7.4,235
...,...,...,...,...,...,...,...,...,...
1395,1137,Karma,2010,Not Rated,"Drama, Mystery, Thriller","The words ""Kali-Yuga"" are heard in the lan...",0,7.1,79
1396,1192,90 ML,2019,A,"Action, Drama, Romance",Devadas(Kartikeya) an MBA gold medalist fa...,159,4.9,70
1397,1205,Kalidasu,2008,Not Rated,"Action, Drama, Romance",NaN,0,3.7,68
1398,1215,Tenali Ramakrishna,2019,U,"Comedy, Drama",This film is based on a famous Telugu poet...,204,7.9,67
1399,1379,Run,2016,U,"Action, Drama, Romance","Sanju, a jobless computer engineer, who ha...",110,5.4,50

In [6]:
movie_meta_data=data.iloc[:,0:2]
movie_meta_data.head(10)

   movieid                Movie
0     1224      Bhakta Prahlada
1      437     Pathala Bhairavi
2      878           Malliswari
3      991             Kanchana
4      732             Devadasu
5      378             Missamma
6     1069          Kanyasulkam
7       92          Maya Bazaar
8     1345  Panduranga Mahatyam
9      893           Bhookailas

In [7]:
ratings

       user_id  movie_id  rating
0       user_1       682     8.1
1       user_1         2     7.6
2       user_1       889     6.9
3       user_1      1028     6.3
4       user_1      1278     6.6
...        ...       ...     ...
7995  user_200      1042     6.4
7996  user_200       321     6.0
7997  user_200       877     7.2
7998  user_200       164     7.2
7999  user_200       783     7.3

[8000 rows x 3 columns]

In [8]:
ratings.rename(columns={"movie_id": "movieid"}, inplace=True)
ratings.head()

  user_id  movieid  rating
0  user_1      682     8.1
1  user_1        2     7.6
2  user_1      889     6.9
3  user_1     1028     6.3
4  user_1     1278     6.6

In [9]:
movie_data=movie_meta_data.merge(ratings,on='movieid')
movie_data.head()

   movieid             Movie   user_id  rating
0     1224   Bhakta Prahlada   user_57     7.2
1     1224   Bhakta Prahlada   user_63     8.1
2     1224   Bhakta Prahlada   user_68     7.9
3     1224   Bhakta Prahlada  user_174     6.7
4      437  Pathala Bhairavi   user_72     7.6

In [10]:
item_matrix=movie_data.pivot(index=['user_id'],columns=['movieid'],values='rating').fillna(0)
item_matrix

movieid,0,1,2,3,4,5,6,7,8,9,...,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399
user_id,,,,,,,,,,,,,,,,,,,,,
user_1,0.0,0.0,7.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_10,0.0,0.0,0.0,6.4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.4,0.0
user_100,0.0,8.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
user_101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.9,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.1,0.0
user_102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.2,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
user_95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.2,0.0,0.0
user_97,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
user_99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.7,0.0,0.0

In [11]:
import matplotlib.pyplot as plt
from sklearn.neighbors import NearestNeighbors
import difflib

In [12]:
cf_knn_model=NearestNeighbors(metric='cosine',algorithm='brute',n_neighbors=10,n_jobs=-1)

cf_knn_model.fit(item_matrix)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=10)

In [13]:
item_matrix = item_matrix.T

In [115]:
def get_closest_movie_id(movie_name, movie_meta_data):
    highest_similarity = 0.0
    closest_movie_id = None
    
    for i, title in enumerate(movie_meta_data['Movie']):
        similarity = difflib.SequenceMatcher(None, title.lower(), movie_name.lower()).ratio()
        if similarity > highest_similarity:
            highest_similarity = similarity
            closest_movie_id = movie_meta_data['movieid'][i]
    
    if closest_movie_id is None:
        raise ValueError("No matching or similar movie found")
    
    return closest_movie_id

def movie_recommender_engine(movie_name, matrix, cf_model, n_recs, movie_meta_data):
    # Fit model on matrix
    cf_model.fit(matrix)
    
    # Find closest movie ID
    closest_movie_id = get_closest_movie_id(movie_name, movie_meta_data)

    # Calculate neighbour distances
    distances, indices = cf_model.kneighbors(matrix.iloc[[closest_movie_id]], n_neighbors=n_recs)
    movie_rec_ids = sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[::-1]

    # List to store recommendations
    cf_recs = []
    for idx, dist in movie_rec_ids:
        cf_recs.append({'Title': movie_meta_data.loc[idx, 'Movie'], 'Distance': dist})

    # Create DataFrame with recommendations
    df = pd.DataFrame(cf_recs, index=range(1, n_recs + 1))
    
    return df

In [121]:
n_recs = 5
movie_recommendations = movie_recommender_engine('don', item_matrix, cf_knn_model, n_recs, movie_meta_data)
movie_recommendations[::-1]

                    Title      Distance
5                  Rayudu  1.110223e-16
4      Prema Ishq Kaadhal  5.311824e-01
3        Murali Krishnudu  5.313734e-01
2  Vunnadhi Okate Zindagi  5.997755e-01
1              Minugurulu  6.317856e-01

In [53]:
#import pandas as pd
from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import train_test_split
#import numpy as np

# Define a function to calculate mean average precision at k
def mean_average_precision_at_k(actual, predicted, k):
    score = 0.0
    num_hits = 0.0

    for i, p in enumerate(predicted[:k]):
        if p in actual and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i + 1.0)

    if not actual:
        return 1.0

    return score / min(len(actual), k)

# Example usage for evaluating KNN recommendations
def evaluate_knn(matrix, movie_meta_data, n_recs=5, test_size=0.2):
    # Split the data into training and test sets
    train_indices, test_indices = train_test_split(matrix.index, test_size=test_size, random_state=42)
    train_matrix = matrix.loc[train_indices]
    test_matrix = matrix.loc[test_indices]
    
    # Fit the model on the training set
    cf_knn_model = NearestNeighbors(metric='cosine', algorithm='brute')
    cf_knn_model.fit(train_matrix)
    
    # Generate recommendations for the test set
    map_scores = []
    for test_idx in test_indices:
        distances, indices = cf_knn_model.kneighbors(matrix.loc[[test_idx]], n_neighbors=n_recs + 1)
        recommended_indices = indices.squeeze().tolist()
        
        # Ensure the test instance is not in the recommendations
        if test_idx in recommended_indices:
            recommended_indices.remove(test_idx)
        
        # Truncate to the required number of recommendations
        recommended_indices = recommended_indices[:n_recs]
        
        actual_movies = set(test_indices) - {test_idx}  # Actual movies should exclude the current test movie
        map_score = mean_average_precision_at_k(actual_movies, recommended_indices, n_recs)
        map_scores.append(map_score)
    
    # Calculate mean MAP@k
    mean_map = np.mean(map_scores)
    return mean_map

# Example usage
mean_map_score = evaluate_knn(item_matrix, movie_meta_data, n_recs=5, test_size=0.2)
print(f"Mean Average Precision at 5: {mean_map_score}")

Mean Average Precision at 5: 0.13172619047619047